includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    stubFiles:
        - tests/phpstan/class-wp-post.stub
    paths:
        - meilisearch.php
        - src/
    ignoreErrors:
