/* Search Form */

.ais-SearchBox-form{
    display: flex;
}

.ais-SearchBox-input{
    flex-basis: 100%;
}

.ais-SearchBox-submit{
    background-color: #9a3334;
}

/* Results hits */

.ais-Hits-list {
    list-style-type: none;
}

.single-hit{
    background-color: rgba(0, 0, 0, 0.0);
    display: flex;
    padding: 3px;
}

.single-hit:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.hit-img{
    flex-basis: 30%;
}

.hit-description{
    flex-basis: 80%;
}

.hit-name{
    text-align: center;
}

.hit-content{
    padding: 10px;
}
